<div class="topnav">
  <a>Clusters Calculados</a>
  <a>Lista de datos</a>
</div>
<div>Para informarse mejor que significa cada caolumna:</div>
<ul class="one">
  <li>Edad: la edad de la persona en años.</li>
  <li>Sexo: El sexo de la persona (1 = hombre, 0 = mujer). </li>
  <li>Dolor en el pecho: (Valor 1: angina típica, Valor 2: angina atípica, Valor 3: dolor no anginal, Valor 4: asintomático) </li>
  <li>Presión arterial en reposo: mm Hg al ingreso al hospital. </li>
  <li>Colesterol: medición en mg / dl. </li>
  <li>Azúcar en sangre en ayunas:> 120 mg / dl, 1 = verdadero; 0 = falso </li>
  <li>Medición electrocardiográfica en reposo (0 = normal, 1 = con anormalidad de la onda ST-T, 2 = mostrando hipertrofia ventricular izquierda probable o definitiva según los criterios de Estes) </li>
  <li>Frecuencia cardíaca máxima alcanzada: Lo normal es 100.  </li>
  <li>Angina inducida por el ejercicio: (1 = sí; 0 = no) </li>
  <li>Depresión ST: depresión ST inducida por el ejercicio en relación con el reposo: 'ST' se relaciona con las posiciones en la gráfica del electrocardiograma. </li>
  <li>Pendiente: la pendiente del segmento ST de ejercicio pico (Valor 1: pendiente ascendente, Valor 2: plano, Valor 3: descenso)</li>
  <li>El número de vasos principales: (0-3)</li>
  <li>talasemia: 3 = normal; 6 = defecto fijo; 7 = defecto reversible </li>
  <li>Diagnóstico: enfermedad cardíaca (0 = no, 1 = sí)</li>
</ul>

<br/>
<div class="row center">
  <button class="button button3" (click)="agruparDatos()" >Calcular</button>
</div>

<div>

  <div class="row">
    <div *ngFor="let g of groupedData.data" class="column">
      <h2>Cluster</h2>
      <table>
        <tr>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Dolor Toracico</th>
          <th>Presion Arterial en reposo</th>
          <th>Colesterol(mg/dL) </th>
          <th>Azucar en sangre(ayunas)</th>
          <th>Resultados electrocardiográficos en reposo</th>
          <th>Frecuencia cardíaca máxima alcanzada</th>
          <th>Angina por el ejercicio</th>
          <th>Depresion ST</th>
          <th>Pendiente</th>
          <th>Nº Vasos principales</th>
          <th>Talasemia</th>
          <th>Enfermedad cardiaca</th>
        </tr>
        <tr *ngFor="let d of g">
          <td>{{d.age}}</td>
          <td>{{d.sex}}</td>
          <td>{{d.cp}}</td>
          <td>{{d.trestbps}}</td>
          <td>{{d.chol}}</td>
          <td>{{d.fbs}}</td>
          <td>{{d.restecg}}</td>
          <td>{{d.thalach}}</td>
          <td>{{d.exang}}</td>
          <td>{{d.oldpeak}}</td>
          <td>{{d.slope}}</td>
          <td>{{d.ca}}</td>
          <td>{{d.thal}}</td>
          <td>{{d.target}}</td>
        </tr>
      </table>

    </div>
  </div>

</div>
